.landingContainer {
  display: flex;
  background-color: var(--color-contentbackground);
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  flex-basis: 15%;
  flex-shrink: 0;
  background-color: var(--color-background);
  height: 100vh;
  padding-top: var(--s-64);
  padding-left: var(--s-40);
}

.content {
  flex: 1;
  padding: var(--s-64) var(--s-20) var(--s-20);
  overflow: auto;
}
