@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

/* Fonts */

:root {
  --font-mulish: "Assitant", sans-serif;

  /* Colors */
  --color-purple: #7f57f1;
  --color-background: #1f2123;
  --color-contentbackground: #faf8ff;
  --color-white: #fff;
  --color-super-light-grey: #b9b9bc;
  --color-very-light-grey: #f9fafb;
  --color-grey: #ddd;
  --color-white-smoke: #f1f1f1;
  --color-white-see-through: #ffffffcc;

  --color-success: #27ae60;
  --color-pending: #f39c12;
  --color-danger: #e74c3c;
  --color-fulfilled: #2ecc71;

  /* Spacing */
  --s-4: 4px;
  --s-8: 8px;
  --s-10: 10px;
  --s-12: 12px;
  --s-14: 14px;
  --s-16: 16px;
  --s-18: 18px;
  --s-20: 20px;
  --s-24: 24px;
  --s-28: 28px;
  --s-32: 32px;
  --s-40: 40px;
  --s-44: 44px;
  --s-48: 48px;
  --s-64: 64px;
}
