.productsContainer {
  .header {
    padding-bottom: var(--s-20);
    align-content: center;

    display: flex;
    h1 {
      margin-right: var(--s-32);
    }
  }
  .listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-24);
  }
}
